.article-details {
	line-height: 28px;
	margin-top: 20px;
	margin-bottom: 20px;
	time{
		display:block;
	}
	.items {
		display:inline-block;
		a {
			display: inline-block;

			&:before {
				color: #6e6e6e;
				content: ' | ';
			}

			&:first-child {
				&:before {
					content: '';
				}
			}
		}
	}
	@media #{$global-bp-tablet} {
		.items {
			float: none;
		}
	}
}

h1 + .article-details {
	margin-top: 0;
}