.btn {
	padding: 8px 15px;
	background: $primary-hue-darkest;
	color: $global-hue-lightest;
	display: inline-block;
	width: 100%;
	line-height: 22px;
	font-size: 18px;
	cursor: pointer;
	
	&:hover {
		color: $primary-hue-normal;
		background: $seconday-hue-lightest;
	}
	
	&.inline {
		width: auto;
	}
}
a.btn {
	color: $global-hue-lightest;
}
.btn-secondary {
	background: $seconday-hue-darkest;
}
.btn-light{
	background-color: $seconday-hue-lightest;
}
.btn-small {
	width: auto;
	font-size: 12px;
	line-height: 16px;
	padding: 4px 8px;
}
.btn-calendar{
	&:hover {
		background-color: $seconday-hue-darkest;
		color: $global-hue-lightest;
	}
}
.view-more-items {
	padding-top: 20px;
}