.inline-callout {
	width: 233px;
	height: auto;
	
	.orange {
		padding: 20px;
		color: $global-hue-lightest;
		background: $global-hue-orange;
	}
	
	&.pull-left,
	&.pull-right {
		margin-bottom: 0px;
	}
	
	&.pull-left {
		margin-right: 20px;
	}
	
	&.pull-right {
		margin-left: 20px;
	}
	
	@media #{$global-bp-mobile} {
		height: auto;
		width: auto;
		
		&.pull-left,
		&.pull-right {
			margin: 0 0 20px 0;
			float: none;
		}
	}
}