.issue-modes-select {
	.btn-issue-mode {
		background-color: transparent;
		border: none;
		font-size: 24px;
		font-weight: 600;
		padding: .5em 0 0;
		color: $primary-hue-darkest;
		cursor: pointer;

		&.active-section {
			color: $color-green-sea-nymph;
			border-top: 6px solid $color-green-sea-nymph;
		}

		+ .btn-issue-mode {
			margin-left: 1em;
		} 

		@media #{$global-bp-mobile-small} {
			font-size: 18px;
            margin-left: 15px;
		} 
	}

}