.map-menu {
  $menu-collapse-width: 30px;
  $menu-full-width: 410px;
  $menu-padding: 25px;
  $header-height: 100px;
  width: $menu-collapse-width;
  height: 100%;
  background-color: $color-green-sea-nymph;
  transition: width 0.4s ease-in-out;
  position: relative;
  overflow: hidden;
  will-change: width;
  z-index: 3;
  &__header {
    background-color: $primary-hue-darkest;
    padding: $menu-padding;
    color: white;
    height: $header-height;
    h2 {
      font-size: 22px;
      font-weight: bold;
      padding-bottom: 10px;      
    }
  }
  .btn-primary {
    transition: background-color 0.3s ease-in-out;
    &:first-child {
      background-color: $primary-hue-normal;
      margin-top: 30px;
      margin-bottom: 10px;
    }
    &:last-child {
      background-color: lighten($primary-hue-normal,10%);
    }
    &:hover {
      background-color: $seconday-hue-darker;
    }
  }
  &__main {
    padding: $menu-padding;
    overflow: auto;
    height: calc(100% - #{$header-height});
  }
  &__collapsible {
    width: $menu-collapse-width;
    background-color: $color-green-sea-nymph;
    position: absolute;
    z-index: 2;
    height: 100%;
    right: 0;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      font-size: 20px;
      left: 50%;
      color: $primary-hue-darkest;
    }
  }
  &__container {
    background-color: transparent;
    width: $menu-full-width - 30px;
    background-color: $global-hue-lightest;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
  }
  &.open {
    width: $menu-full-width;
    margin-left: 0;
  }

  .service-list {
    color: $primary-hue-darkest;
    &__header {
      font-size: 17px;
      text-transform: uppercase;
      display: block;
      padding: 15px 0;
      border-bottom: solid 1px $color-grey-shady-lady;
      position: relative;
      cursor: pointer;
      i {
        position: absolute;
        right:  0;
        cursor: pointer;
      }
    }
    &__container {
      max-height: 0;
      transition: max-height 0.5s ease-in-out;
      overflow: hidden;
      &.open {
        max-height: 2000px;
      }
    } 
    &__item {
      $icon-width: 23px;
      padding: 10px 0 10px $icon-width;
      font-size: 14px;
      text-transform: uppercase;
      cursor: pointer;
      &:last-child {
        padding-bottom: 0;
      }
      i {
        padding-right: 10px;
        margin-left: -1*$icon-width;
      }
    }
  }
  @media #{$global-bp-tablet} {
    $menu-tablet-width: 330px;
    &.open {
      width: $menu-tablet-width;
    }
    &__container {
      width: $menu-tablet-width - 30px;
    }
  }
  @media #{$global-bp-mobile} {
    $menu-mobile-width: 100vw;
    &.open {
      width: $menu-mobile-width;
    }
    &__container {
      width: calc(#{$menu-mobile-width} - 40px);
    }
  }

}
