.mega-menu-careers {
	.mega-menu-content {
		width: $megamenu-width-desktop;
		padding: 20px 40px 20px 20px;
		margin-left: -677px;
	}
}

@media #{$global-bp-tablet} {
	.mega-menu-careers {
		.mega-menu-content {
			width: $megamenu-width-tablet;
			margin-left: -559px;
		}
	}
}