.pagination {
	$size: 30px;
	
	a {
		display: inline-block;
		padding-right: 12px;
		font-size: 18px;
		margin-bottom: 2px;
		line-height: $size;
		&:hover{
			cursor:pointer;
		}
		+ a {
			margin-left: 5px;
		}
	}
	
	.next,
	.previous {
		i {
			line-height: $size;
			vertical-align: top;
			font-size: 24px;
		}
	}
	
	.goto {
		&.active {
			color: $seconday-hue-darkest;
			font-weight:bold;
		}
	}
	
	@media #{$global-bp-mobile} {
		text-align: center;
		
		.goto {
			display: none;
			
			&.active {
				display: inline-block;
				
				&:before {
					content: 'Page: '
				}
			}
		}
	}
}