.tile-video {
	.video-link {
		$glyphSize: 50px;
		$circleSize: 126px;
		
		z-index: 1;
		top: 50%;
		margin-top: $circleSize * -1 / 2;
		text-align: center;
		color: $global-hue-lightest;
		display: inline-block;
		position: relative;
		height: $circleSize;
		width: $circleSize;
		vertical-align: top;
		line-height: $circleSize;
		background: rgba($global-hue-darkest, 0.3);
		border-radius: $circleSize / 2;
		border: solid 1px rgba($global-hue-lightest, 0.7);
		
		i {
			font-size: $glyphSize;
			vertical-align: middle;
		}
	}
	
	.video-mask {
		z-index: 4;
		top: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		//background: rgba($global-hue-darkest, 0.5);
	}
}