.ui-textinput {
	$height: 34px;
	
	position: relative;
	display: inline-block;
	
	input {
		padding: 0 12px;
		height: $height;
		border: solid 1px $seconday-hue-darkest;
		color: $seconday-hue-darkest;
		width: 100%;
	}
}

.input-line-item {
	.ui-textinput {
		width: 100%;
	}
}